/* Payment details at the top of the post */
.sc-payment-details-wrap { 
	background: #dff0d8;
	border: 0;
	padding: 15px;
	margin-bottom: 15px;
}

/* Basic form styles. Most based off Bootstrap 3. */

.sc-checkout-form {
	margin-bottom: 15px;
}
.sc-form-group {
	margin-bottom: 15px;
}
.sc-form-group label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
.sc-form-group .sc-form-control {
	display: block;
	width: 15em;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sc-form-group .sc-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.sc-form-group .sc-form-control::-moz-placeholder {
	color: #999999;
	opacity: 1;
}
.sc-form-group .sc-form-control:-ms-input-placeholder {
	color: #999999;
}
.sc-form-group .sc-form-control::-webkit-input-placeholder {
	color: #999999;
}
.sc-form-group .sc-form-control[disabled],
.sc-form-group .sc-form-control[readonly],
.sc-form-group fieldset[disabled] .sc-form-control {
	cursor: not-allowed;
	background-color: #eeeeee;
	opacity: 1;
}

.sc-form-group textarea.sc-form-control {
    height: auto;
    width: 100%;
}
